<form action="#" id="search-bar">
  <input type="text" name="search[keywords]" style="width:50%">
  <input type="submit" value="search">
</form>

<div class="results">
  <ul id="result-list">

  </ul>
</div>

<script>
  var act = true;
  function animate_load(addon,active){
    if(active == true){
      if(addon != "....."){
        addon += ".";
        console.log(addon)
      } else {
        addon = ""
      }
      $("#result-list").html("Loading" + addon);
      setTimeout(function(){
        animate_load(addon,act);
      }, 500)
    }
  }

  $("body").on('submit', '#search-bar', function(event) {
    event.preventDefault();
    animate_load("",act);

    $.ajax({
      url: '/home/search',
      data: $(this).serialize(),
    })
    .done(function(data) {
      act = false
      var results = data.data.ItemSearchResponse.Items.Item
      $("#result-list").html("");
      $.each(results, function(index, val) {
        var theTemplateScript = $("#item-template").html();
        var theTemplate = Handlebars.compile(theTemplateScript);
        var context = val;
        var theCompiledHtml = theTemplate(context);
        $("#result-list").append(theCompiledHtml)

      });
    })

  });
</script>

<style>
  .item-show {
    position: relative;
    padding: 2%;
    background-color: #F3F3CE;
    height: 100;
    margin: 10px;
  }

  .pic-box {
    position: relative;
    float: left;
    width: 20%;
  }

  .pic-box img {
    max-height: 100;
  }

  .desc-box {
    position: relative;
    float: right;
    width: 80%;
    text-align: left;
  }

</style>
