<head>
  <title>Amazon Search</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.amd.min.js"></script>
  <script src="/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<center>
<h1>Search Amazon Books</h1>
<p>Use the search bar to search for a title, then mouse over the picture to see more information about that title.</p>
<a href="https://github.com/laomatt/amazon_list" target="_blank">Please click here</a> for the Source code.
<hr>

<script id="item-template" type="text/x-handlebars-template">
<div class="col-md-8 item-show list-group">
  <div class="pic-box">
    <a href="{{DetailPageURL}}" target="_blank">
      <img src="{{LargeImage.URL}}">
    </a>
  </div>

  <div class="desc-box">
  <center>
    <b><br>{{ItemAttributes.Title}}</b>
    <br>by: {{ItemAttributes.Author}}<br><p>
    <div class="top-links-nav">
      <a href="#" class="show-links">Show links</a>
    </div>
    <div class="links-container">
      <ul>
      {{#each ItemLinks.ItemLink}}
        <li style="list-decoration: none">
          <a href="{{URL}}" target="_blank">{{Description}}</a>
        </li>
      {{/each}}
      <a href="#" class="hide-these-links"><i class="fa fa-times"></i></a>
      </ul>
    </div>
    </center>
  </div>
</div>
</script>

<body style="padding:5%;">

<%= yield %>

</body>
</center>

<style>
  li {
    list-style: none;
  }
</style>

<script>
  $("body").on('click', '.show-links', function(event) {
    event.preventDefault();
    $(this).parent().parent().find('.desc-box').css('opacity','.5');
    $(this).parent().parent().find('.links-container').slideDown('500', function() {
    });
  });

  $("body").on('click', '.hide-these-links', function(event) {
    event.preventDefault();
    $(this).parent().parent().slideUp(500);
    $(this).parent().parent().parent().find('.desc-box').css('opacity',1);
  });
</script>