<head>
  <title>Amazon Search</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.amd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<center>
<h1>Search Amazon Books</h1>

<script id="item-template" type="text/x-handlebars-template">
<div class="col-md-8 item-show list-group">
  <div class="pic-box">
    <a href="{{DetailPageURL}}" target="_blank">
      <img src="{{MediumImage.URL}}">
    </a>
  </div>

  <div class="desc-box">
    <b><br>{{ItemAttributes.Title}}</b>
    <br>by: {{ItemAttributes.Author}}<br><p>
  </div>
  {{#each ItemLinks.ItemLink}}
    <a href="{{URL}}" target="_blank">{{Description}}</a>,
  {{/each}}
</div>
</script>

<script id="link-template" type="text/x-handlebars-template">
</script>

<body style="padding:5%;">



<%= yield %>

</body>
</center>